[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
wurlitzer = "*"
sklearn = "*"
netgross = {git = "https://github.com/djanloo/netgross"}
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
